* {
    margin: 0;
    padding: 0;
}

.navbar {
    border: 2px solid red;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    background-color: green;
}

.navbar>div {
    display: inline-block;
    width: 33%;
}

.navbar>.item>ul>li {
    margin-top: 10px;
    display: inline-block;
    margin-right: 70px;
}

.navbar>.item>ul>li>a {
    text-decoration: none;
    color: white;

}

.navbar>.button>.button1 {
    padding: 10px;
}

.n {
    margin-top: 10px;
    border: 2px solid red;
}

/* .container {
        border: 1px solid;
        margin: auto;
        margin-top: 10px;
        width: 70%;
        height: 400px;
        padding: 10px;
        background-image: url(image1.jpeg);
}
.container1 {
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 400px;
    padding: 10px;
    background-image: url(image1.jpeg);
}


 */







.container {
    /* width: auto;
    height: 450px;
    */
    padding-bottom: 60px;
}

.middle {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}


* {
    margin: 0;
    padding: 0;
}

.bottom-container {
    background-attachment: scroll;
    color: #434f43;
    text-align: center;
    background: #2e2e2e;
    padding: 40px 0px;
    font: 14px;
}

.copyright {
    font-family: 'Noto Sans', sans-serif;
    color: grey;
    font-weight: 700;
    padding-bottom: 30px;
}

.footer-link1 {
    padding-right: 20px;
}

.footer-link2 {
    padding-right: 20px;
}

.footer-link3 {
    padding-right: 20px;
}



.back-what {
    background-color: aquamarine;
}



.whatWeDo {
    padding-top: 30px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.whatcom {
    /* width: 700px; */
    padding-top: 40px;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

}


.column {
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.cusTem {
    padding-top: 30px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.customer {
    padding-top: 40px;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

}


.widtheq {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.team {
    padding-top: 40px;
    text-align: center;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

}









.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}